<p>Cities Index</p>

<table>
  <thead>
    <th>City</th>
    <th>State</th>
    <th>Temperature</th>
    <th>Conditions</th>
  </thead>

  <tbody>
    <%= for city <- @cities do %>
      <tr>
        <td>
          <%= link(city.name, to: Routes.city_path(@conn, :show, city.id)) %>
        </td>
        <td><%= city.state %></td>
        <td><%= city.temperature %></td>
        <td><%= city.weather_title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
