<p>WeatherLoop (v1)</p>
<p><%= @city.name %></p>
<p>Time: <%= @formatted_time %></p>
<p>Temperature: <%= @snapshot.temperature %></p>
<p>Feels Like: <%= @snapshot.feels_like %></p>
<p>Conditions: <%= @snapshot.weather_title %></p>
<p>Humidity: <%= @snapshot.humidity %></p>
<p>Wind: <%= @snapshot.wind_direction %> at <%= @snapshot.wind_speed %></p>
<p>Visibility: <%= @snapshot.visibility %></p>
<p>Sunrise: <%= @snapshot.sunrise %></p>
<p>Sunset: <%= @snapshot.sunset %></p>
